.searchbyname__text{
    font-size: 25px;
    margin-top: 100px;
}

.searchbyname__input{
    background-color: dimgray;
    width: 290px;
    color: white;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

.searchbyname__button{
    background-color: dimgray;
    margin-left: 10px;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.searchbyname__text-h2{
    font-size: 20px;
    margin-top: 30px;
}

.searchbyname__text-h3{
    font-size: 15px;
    margin-top: 30px;
}